$primaryColor:#F0E68C;
$secondayColor:#191970 ;
*{
    padding: 0;
    margin: 0;

}
body{
    background-repeat: no-repeat;
    background-color: $primaryColor;
    #content{
        display:flex;
        justify-content: flex-start;
        
        height: 100vh;
        width: 100vw;
        h2{
            color:$secondayColor;
        }

        #logo{
            width:30vw;
            height:15vw;
        }
         }
         .header{
            display:flex;
            justify-content: space-between;
         }
         .btn{
            width: 5vw;
            height:2vh;
            background-color:$secondayColor;
            color:white;
         }
}
.entree{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    width: 80vw;
    margin-top: 5vh;
    .img{
        border-radius: 25px;
        max-width: 10vw;
        max-height: 10vh;

    }
    background-color: beige;
}