$primaryColor:#F0E68C;
$secondayColor:#191970 ;
*{
    padding: 0;
    margin: 0;

}
body{
    .header{
        display:flex;
        justify-content: space-around;
        button{
            
            border-radius: 15px;
            width: 15vw;
            height: 5vh;
        }
     }
    display: flex;
    flex-direction: column;
     
    align-items: center;
    height: 150vh;
    
     background-repeat:no-repeat;
    background:linear-gradient(45deg,blue,yellow);
    #content{
        background-color: $primaryColor;
        display:flex;
        justify-content: center;
          
        border-radius: 15px;
        height: auto;
        width: 90vw;
        
    .mainContent{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        table{
            margin-top: 20vh;
            margin-bottom: 10vh;
            border: 1px solid $secondayColor;
            th{
                border: 1px solid $secondayColor;
            }
        }
        p{  
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;

        }
        .background{
            width: 50vw;
            height: auto;
            
        }
    }
        h2{
            color:$secondayColor;
        }
        h1{
            margin-left: 32vw;
        }

        #logo{
            width:30vw;
            height:15vw;
        }
         }
       
         .btn{
            width: 5vw;
            height:2vh;
            background-color:$secondayColor;
            color:white;
         }
}
.entree{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    width: 80vw;
    margin-top: 5vh;
    .img{
        border-radius: 25px;
        max-width: 50vw;
        max-height: 20vh;

    }
    background-color: beige;
}

 
